.main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacing {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: $breakpoint-tablet) {
  body {
    background-color: #444444;
    font-size: 1.1rem;
  }

  .container {
    background-color: #F6F6F6;
    border-radius: 1.5rem;
    padding-top: 2rem;
    width: fit-content;
  }
}
