<div class="nested-fields container">
	<div class="row mb-2 flex align-items-center">
		<div class="col-9">
			<%= f.input :user_id, as: :select, collection: User.all - [current_user],  label_method: -> (u) { u.email }, :input_html => { :class => 'form-control' }  %>
		</div>
		<div class="col-3">
			<%= link_to_remove_association f, class: 'btn btn-outline-dark btn-sm btn-flat col-12' do  %>
				x
			<% end %>
		</div>
	</div>
</div>
