<div class="container">
	<h2>Groups Contribution: <%= number_to_currency(current_user.groups_contribution) %> </h2>
	<div class="row">
		<h3>My Groups</h3>
		<%= render @groups_owned %>
	</div>
	<div class="row">
		<h3>Groups where i am</h3>
		<%= render @groups %>
	</div>
	<div class="row">
		<div class="d-flex my-5 justify-content-center flex-column col-6 offset-3">
			<%=create_group_button(current_user) %>
		</div>
	</div>
</div>
