.formlabel {
  color: #464343;
  font-weight: 700;
}

.header {
  font-weight: 700;
  margin-top: 1.5rem;
}

.ldevise {
  font-weight: 700;
}

.nodecoration {
  text-decoration: none;
}

.signuptag {
  font-weight: bold;
}
