<section class="about">
  <div class="about__container">
    <div class="about__container-info">
      <h1 class="about__title">ABOUT US</h1>
      <h2 class="about__subtitle">Making shared payments for maintenance and / or entertainment services for specific groups or groups of family members.</h2>
    </div>

    <div class="about__container-image">
      <%= render_svg 'group-friends', styles: "about__image"%>
    </div>
  </div>
</section>
