<section class="benefits">
  <div class="benefits__container">
    <div class="benefits__container-title">
      <h1>DISCOVER MORE BENEFITS</h1>
    </div>

    <div class="benefits__container-data">
      <div class="benefits__container-sections">
        <div class="benefits__container-information">
          <%= render_svg 'service-logo', styles: "benefits__image"%>
          <div class="benefits__texts-container">
            <h1 class="benefits__title-benefits">Service Bills Manage</h1>
            <h2 class="benefits__subtitle-benefits">Never forget if you have to share the bill with someone.</h2>
          </div>
        </div>

        <div class="benefits__container-information">
          <%= render_svg 'groups-logo', styles: "benefits__image"%>
           <div class="benefits__texts-container">
            <h1 class="benefits__title-benefits">Big Groups Bills Manage</h1>
            <h2 class="benefits__subtitle-benefits">If the group is big the percentage is less.</h2>
          </div>
        </div>

        <div class="benefits__container-information">
          <%= render_svg 'secure-logo', styles: "benefits__image"%>
          <div class="benefits__texts-container">
            <h1 class="benefits__title-benefits">Secure Transactions</h1>
            <h2 class="benefits__subtitle-benefits">Encrypted transactions for a secure manage.</h2>
          </div>
        </div>
      </div>

      <div class="benefits__container-image">
        <%= render_svg 'benefits-image', styles: "benefits__image-iphone-guy"%>
      </div>
    </div>
  </div>
</section>
