<div class="info" id="products">
  <div class="info__container">
    <div>
      <%= render_svg 'Create', styles: 'info__logo' %>
      <div>
        <h3>CREATE SHARING COST GROUPS</h3>
        <p>
          Easily create a new group to share your costs with others you
          know.
        </p>
      </div>
    </div>

    <div>
      <%= render_svg 'Store', styles: 'info__logo' %>
      <div>
        <h3>SECURE STORE ALL YOUR INFORMATION</h3>
        <p>All your information is safely secured in the database.</p>
      </div>
    </div>

    <div>
     <%= render_svg 'Verified', styles: 'info__logo' %>
      <div>
        <h3>VERIFIED TRANSACTIONS</h3>
        <p>
          All of our transactions are verified so you can do fast your
          stuff
        </p>
      </div>
    </div>
  </div>
</div>
