<section class="pricing" id="pricing">
  <div class="pricing__container">
    <div class="pricing__container-title">
      <h1>PRINCING PLAN</h1>
      <h2>Choose the plan that's right for you growing team</h2>
    </div>

    <div class="pricing__container-plans">

      <div class="pricing__container-plan">
        <div class="pricing__container-information">
          <%= render_svg 'free-mobile', styles: "pricing__icon-free"%>
          <h1 class="pricing__title-pricing">Free</h1>
          <h2>$0.00</h2>
          <h3>Per month</h3>
        </div>
      </div>

      <div class="pricing__container-plan">
        <div class="pricing__container-information">
          <%= render_svg 'premium-mobile', styles: "pricing__icon-premium"%>
          <h1>Premium</h1>
          <h2>$3.00</h2>
          <h3>Per month</h3>
        </div>
      </div>

    </div>
  </div>
</section>
