<section>
  <div>
    <div>
      <%# SVG %>
    </div>

    <div>
      <%= render 'layouts/partials/user_options', style_nav: false %>
      <%= render 'layouts/partials/messages' %>
    </div>

  </div>
</section>
