<nav class="nav-bar">
	<div class="nav-bar__container">
		<div>
			<%= link_to root_path, class: 'link' do %>
				<%= render_svg 'logo-header', styles: 'nav-bar__logo' %>
			<% end %>
		</div>
	
		<div class="buttons-container d-flex align-items-center">
			<% unless !current_user %>
				<ul class="section-container">
					<li class="section-container__link">
						<%= link_to "Groups", groups_path %>
					</li>
				</ul>
				<%= render 'layouts/partials/user_account' %>
			<% end %>
		</div>
	</div>
</nav>
