<section>
  <div>
    <div>
      <%# SVG %>
    </div>
    
    <div>
      <%= render 'layouts/partials/user_options' %>
      <%= render 'layouts/partials/messages' %>
    </div>

  </div>
</section>
